logo {
    float: right;
}
body {
    background-image: linear-gradient(to bottom right, #2B69E0, #81B6FC);
    background-repeat: no-repeat;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
/* Style the links inside the navigation bar */
.topnav a {
    font-family: sans-serif, Arial;
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    transition-duration: 0.5s;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    font-family: sans-serif, Arial;
    background-color: #001531;
    color: white;
    transition-duration: 0.5s;
}
a.active:hover{
    background-color: #ddd;
    color: black;
}
login{
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    display:block;
    position: absolute;
    margin: auto;
    border: 2px solid #2B69E0;
    border-radius: 4px;
    top: 50%;
    left:50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 10px;
}
form {
    text-align: center;
    font-family:sans-serif, Arial;
    font-weight: bold;
    display: block;
    padding-bottom: 5px;
}
button{
    text-align: center;
    font-family:sans-serif, Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: #2B69E0;
    color:white;
    border: none;
    border: 2px solid white;
    text-decoration: none;
    border-radius: 4px;
    transition-duration: 0.5s;
    display:inline-block;

}
button:hover {
    text-align: center;
    font-family:sans-serif, Arial;
    font-weight: bold;
    background-color: white;
    color:black;
    border-color: #2B69E0;
    text-decoration: none;
    border-radius: 2px;
    font-size: 21px;
}
input{
    font-family:courier,Arial,Helvetica;
    font-weight: bold;
    left:50%;
    border:2px solid #2B69E0;
    border-radius: 4px;
    transition-duration: 0.5s;
    font-size: 20px;
}
input:hover{
    border:2px solid #2B69E0;
    border-radius: 2px;
}
input::placeholder{
    font-family: sans-serif, Arial;
}
page{
    background-repeat: no-repeat;
    font-family: sans-serif, Arial;
    font-weight: bold;
    font-size: 20px;
    background-color: white;
    display:block;
    margin: auto;
    text-align: left;
    padding: 10px;
    top: 50%;
    left:50%;
}